<%= render 'search/form' %>

<%= javascript_pack_tag 'my_js' %>

<p>Name: <input type="text" value="Mickey Mouse" id="search_name"></p>
<button id="btn2">Search</button>


<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

<button id="button2">List Books</button>
<button id="button3">Delete List</button>

<ul id="text">    
</ul>